:root {
    --body-bg-color: #A9D2D5;
    --header-bg-color: rgb(14, 14, 14);
    --header-title-color: #87C0C4;
    --header-font-size: 1.1em;
    --hover-color: color(display-p3 0.77 0.77 0.77);
    --mixed-color: color-mix(in srgb, blue 80%, black 20%);
}

@keyframes headertitleani {
    0% {
        transform: translateX(-90px); 
        color: rgb(0, 255, 255);
    }
    50% {
        transform: translateX(0);
        color: rgb(240, 240, 13); 
    }
    100% {
        transform: translateX(100px); 
        color: #87C0C4; 
    }
}

body {
    background-color: var(--body-color,#A9D2D5);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--header-bg-color, rgb(14, 14, 14));
    margin:0;
}

.header-title {
    color: var(--header-title-color, #87C0C4);
    animation: headertitleani 2s ease-in-out forwards;
    font-size: var(--header-font-size, 1.1em);
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration:none;
    font-size: var(--header-font-size, 1.1em);
    transition: color 0.5s ease;
}

nav ul li a:hover {
    color: var(--hover-color, color(display-p3 0.77 0.77 0.77));
}

header:has(.header-title:hover) {
    background-color: #12191a;
}

main {
    padding:40px;
    min-height: 20dvh;
}

#subheader {
    margin-left: 200px;
    margin-bottom: 60px;
    font-size: 2rem;
}

span {
    color: var(--mixed-color, blue);
}

#mathzoos-img {
    margin-bottom: -80px; 
    margin-top: -80px;
}

.thanksimg {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }

#hello-image {
    position: absolute;
    right: 900px; 
    top: 30%; 
    transform: translateY(-50%); 
    height: auto;
}

#selfie {
    float:right;
    margin-right:100px;
}

#contactform fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width:500px;
    margin:0 auto;
}

#contactform input {
    padding-bottom: 5px;
    padding-top:5px;
}

#contactform textarea {
    padding-bottom:20px;
    padding-top:5px;
}

#contactform button {
    padding:10px;
    background-color: #000000;
    color: white;
    border:none;
}

#contactform input::placeholder,
#contactform textarea::placeholder {
    font-family:Arial, sans-serif;
}

#error-message {
    color:red;
}

